/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    
    --font-color: #000;
    --font-color-2: #FFFFFF;

    --button-bg-color: #FFFFFF;
    --grey-tint-2: #D9D9D9;
}

body {
    display: flex;
    justify-content: center;
}

footer {
    background-color: var(--main-bg-color);
    color: var(--font-color);
    padding: 1.25rem; /* 20px */
}

p {
    color: var(--font-color);
    font-size: 1em; /* 16px */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    max-width: 90rem; /* 1440 px */
    min-width: 20rem; /* 320px */
    padding: 0 3.13rem; /* 50px */
    margin: 0 auto;
    /* box-sizing: border-box; */
}

.section-title {
    margin: 0;
    font-size: 1.38rem; /* 22px */
}

.card {
    background-color: white;
    border-radius: 1.25rem; /* 20px */
    padding: 0.31rem; /* 5px */
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card a {
    text-decoration: none;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem; /* 16px */
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Flexbox ***********/
.flex-col {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.row {
    /* box-sizing: border-box; */
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

.col-container,
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    /* box-sizing: border-box; */
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.col {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
}

.col-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
}

.col-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
}

.col-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
}

.col-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
}

.col-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.col-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
}

.col-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
}

.col-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
}

.col-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
}

.col-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

.col-start {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

.col-center {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
}

.col-end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
}

.col-top {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
}

.col-middle {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.col-bottom {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
}

.col-stretch {
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch;
}

.col-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.col-between {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.col-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
}

.col-last {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
}

/****** Margin ***********/
.m-t-8 { margin-top: 0.5rem; } /* 8px */
.m-t-30 { margin-top: 1.88rem; } /* 30px */
.m-b-35 { margin-bottom: 2.19rem; } /* 35px */

/****** Header ***********/
.logo { padding: 1.88em 0; } /* 30px 0 */

/****** Navigation ***********/
header nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 4.25rem; /* 68px */
}
  
header nav li a {
    display: block;
    color: var(--font-color);
    text-align: center;
    padding: 0.88em 1em; /* 14px 16px */
    text-decoration: none;
    font-size: 1em; /* 16px */ 
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-top: 2px solid transparent;
}
  
header nav li a:hover:not(.active) {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}
  
header nav .active {
    color: var(--main-color);
    /* background: transparent !important; */
    border-top: 2px solid var(--main-color);
}

/****** Search Hebergements ***********/
.search-hebergements {
    width: 100%;
}

/* Search-bar */
.search-bar form {
    display: flex;
    width: 100%;
    max-width: 23.56em; /* 377px */
    height: 3.06em; /* 49px */
    align-items: center;
    gap: 1.5em; /* 24px */
    border-radius: 0.94em; /* 15px */
    border: 1px solid var(--grey, #F2F2F2);
    background: var(--white, #FFF); 
}

.search-bar i {
    display: flex;
    width: 3.13rem; /* 50px */
    height: 3.06rem; /* 49px */
    background-color: var(--main-bg-color);
    border-radius: 0.94rem 0 0 0.94rem; /* 15px 0 0 15px */
    border: 1px solid var(--main-bg-color);
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color:var(--font-color);
}

.search-bar form input {
    border: 1px solid var(--grey, #F2F2F2);
    color: var(--font-color);
    font-size: 1.13em; /* 18px */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: auto;
    text-align: center;
}

.search-bar form input::placeholder {
    color: var(--font-color);
    opacity: 1; /* Firefox */
}
  
.search-bar form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--font-color);
}
  
.search-bar form input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--font-color);
}

.search-bar-btn {
    display: block;
    height: 3.06rem; /* 49px */
    padding: 0.94rem 1rem; /* 15px 16px*/
    align-items: center;
    border-radius: 0 0.94rem 0.94rem 0; /* 0 15px 15px 0 */
    border: 1px solid var(--main-color);
    background: var(--main-color);
    cursor: pointer;
    color: var(--font-color-2);
    font-size: 1.13rem; /* 18 px */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* .search-bar-btn:hover {
    background-color: var(--filter-bg-color);
    border-color: var(--main-bg-color);
} */

.search-bar-btn-mobile {
    display: none;
    height: 3.06rem; /* 49px */
    padding: 0.94rem 0; /* 15px 0 */
    align-items: center;
    background:transparent;
    border: 0;
    cursor: pointer;
    color: var(--font-color-2);
}

.search-bar-btn-mobile i {
    width: 3.13rem; /* 50px */
    height: 3.06rem; /* 49px */
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: var(--font-color-2);
    border-radius: 0.94rem; /* 15px */
    border: 1px solid var(--main-color);
    background: var(--main-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Search-filter-bar */

search-filter-bar {
    width: 100%;
}

.search-filter-bar-title {
    color: var(--font-color);
    font-size: 1.13rem; /* 18px */
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.search-filter-bar-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem; /* 20px */
}

.search-filter-bar-btn {
    border: none;
    outline: none;
    height: 3.13rem; /* 50px */
    border-radius: 1.56rem; /* 25px */
    border: 0.13rem solid var(--grey-tint-2); /* 2px */
    background-color: var(--button-bg-color);
    cursor: pointer;
    padding: 0.25rem 1.19rem; /* 4px 19px*/

    color: var(--font-color);
    font-size: 1.06rem; /* 17px */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
  
.search-filter-bar-btn:hover {
    border: 0.13rem solid var(--grey-tint-2); /* 2px */
    background: var(--filter-bg-color);
}
  
/* .search-filter-bar-btn.active {
    background-color: #666;
    color: white;
} */

.search-filter-bar button i {
    color: var(--main-color);
    width: 1.38rem; /* 22px */
    height: 1.38rem; /* 22px */
}

.search-info {
    display: flex;
    height: 1.5rem; /* 24px */
    align-items: center;
    gap: 0.63rem; /* 10px */
    align-self: stretch;
}

.search-info i {
    color: var(--main-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 1.25rem; /* 20px */
    padding: 1.88rem; /* 30px */
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards .card {
    margin-top: 2.06rem; /* 33px */
}

.hebergements-cards img {
    width: 100%;
    height: 8.5rem; /* 136px */
    border-top-left-radius: 1.25rem; /* 20px */
    border-top-right-radius: 1.25rem; /* 20 px */
}

.hebergements-more {
    color: var(--font-color);
    font-size: 1.13rem; /* 18px */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 2.06rem; /* 33px */
}

.populaires-cards img {
    width: 33%;
    height: 8.5rem; /* 136px */
    border-top-left-radius: 1.25rem; /* 20px */
    border-bottom-left-radius: 1.25rem; /* 20px */
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 0.94rem; /* 15px */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 0.63rem; /* 10px */
    margin-bottom: 0.25rem; /* 4px */
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 0.31rem; /* 5px */
}

/****** Activities ***********/
.activities {
    width: 100%;
}

.activities section {
    background-color: transparent;
    border-radius: 1.25rem; /* 20px */
    padding: 1.88rem; /* 30px */
    box-sizing: border-box;
}

.activities-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activities-cards .card {
    /* display: flex; */
    margin-top: 2.06em; /* 33px */
}

.activities-cards .card-content {
    height: 4.38em; /* 70px */
}

.activities-cards .card-title {
    padding: 1.25em 1.19em; /* 20px 19px */
}

.activities-cards img {
    width: 100%;
    height: 23.75rem; /* 380px */
    border-top-left-radius: 1.25rem; /* 20px */
    border-top-right-radius: 1.25rem; /* 20px */
}



/****** Footer ***********/
footer a {
    text-decoration: none;
    padding: 0.94rem 0; /* 15px 0 */

    color: var(--font-color);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer a:hover {
    color: var(--main-color);
}

.footer-title {
    color: var(--font-color);
    font-size: 1.13rem; /* 18px */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, 769px to 1024px) */
@media all and (min-width:48rem) and (max-width: 64rem) {
    .main-container {
        width: 100%;
        max-width: 90em; /* 1440px */
        padding: 0 3.13em; /* 0 50px */
        margin: 0 auto;
        /* box-sizing: border-box; */
    }

    /* search-hebergements */
    .search-filter-bar-btn-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: left;
        width: 100%;
        gap: 0.63em; /* 10px */
        margin-top: 1.25rem; /* 20px */
    }

    /* hebergements-and-populaires */
    .hebergements-and-populaires {
        display: flex;
        flex-direction:column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card-content {
        display: flex;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        min-height: 100%;
        height: 5em; /* 80px */
    }

    .populaires {
        width: 100%;
        margin-top: 3.13em; /* 50px */
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 1.25em; /* 20px */
    }

    .populaires-cards .card { 
        width: 100%;
        align-self: stretch;
    }

    .populaires-cards img {
        height: 9.13em; /* 146px */
    }

    /* activities */
    .activities section {
        gap: 1.25em; /* 20px */
    }

    .activities-cards {
        display: grid;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        flex: 1 0 0;
    }

    .activities-cards .card { 
        height: 100%;
    }

    .activities-cards img {
        height: 12.5em; /* 200px */
    }

    .activities-cards .card-content {
        min-height: 100%; 
    }
}

/* Small devices (mobile, less/equal than 767px) */
@media all and (max-width: 47.99rem) {
    .main-container {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .row {
        /* box-sizing: border-box; */
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex: 0 1 auto;
        -webkit-box-flex: 0;
        flex: 0 1 auto;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
    }

    .col-container,
    .col,
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
        padding: 0;
    }

    .logo {
        padding: 1.88em 0; /* 30px 0 */
        text-align: center;
    }

    /* Navigation */
    header nav ul {
        justify-content: center;
        gap: 0;
    }
  
    header nav li {
        width: 100%;
    }

    header nav li a {
        border-top: 0;
    }

    header nav li a:hover:not(.active) {
        color: var(--main-color);
        border-top: 0;
        border-bottom: 2px solid var(--main-color);
    }

    header nav li a:not(.active) {
        border-bottom: 2px solid var(--main-bg-color); 
    }

    header nav .active {
        border-top: 0;
        border-bottom: 2px solid var(--main-color); 
    }

    /* Search Hebergements */
    .search-hebergements {
        width: 100%;
        padding: 1.25rem; /* 20px */
    }

    .search-bar-btn {
        display: none;
    }

    .search-bar-btn-mobile {
        display: flex;
    }

    .search-bar form input {
        width: 100%;
    }
    .search-filter-bar .col-middle {
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: start;
    }

    .search-filter-bar-btn-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1.25rem 0.63rem; /* 20px 10px */
        margin-top: 1.25rem; /* 20px */
    }

    .search-filter-bar-btn {
        display: flex;
        justify-content: left;
        height: 3.13rem; /* 50px */
        padding: 0.25rem 1.19rem; /* 4px 19px */
        align-items: center;
        gap: 0.63rem; /* 10px */
        flex: 1 0 0;
        font-size: 0.87rem; /* 14px */
    }
    
    /* hebergements-and-populaires */
    .hebergements-and-populaires section {
        background-color: var(--white);
        border-radius: 0;
        padding: 1.25rem; /* 20px */
        box-sizing: border-box;
    }
    
    .hebergements-and-populaires {
        flex-direction:column-reverse;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        background-color: var(--main-bg-color) !important;
    }

    /* activities */
    .activities section {
        padding: 1.25rem; /* 20px */
    }

    .activities-cards img {
        height: 8.81rem; /* 141px */
    }

    /* footer */
    footer {
        background-color: var(--main-bg-color);
        color: var(--font-color);
        padding: 0 1.25rem; /* 20px */
    }

    /* First element of div */
    footer .row > div:nth-child(1) {
        padding: 1.88rem 1.56rem 1.25rem; /* 30px 25px 20px */
    }
  
  /* Second element of div */
    footer .row div:nth-child(2) {
        padding: 1.56rem 1.56rem 1.25rem; /* 25px 25px 20px */
    }
  
    /* Third element of div */
    footer .row div:nth-child(3) {
        padding: 1.56rem 1.88rem 1.25rem; /* 25px 30px 20px */
    }

    footer a {
        text-decoration: none;
        padding: 0.93rem 0; /* 15px */
    
        color: var(--font-color);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    footer a:hover {
        color: var(--main-color);
    }
    
    .footer-title {
        color: var(--font-color);
        font-size: 1.13rem; /* 18px */
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}